<article id={{bookmark.id}}>
  <a href={{bookmark.link}}>
    {{!-- Helper function name. Anything after are arguments. Gets passed in as arrays --}}
    {{bookmark-title bookmark.title bookmark.about}}
  </a>
</article>
{{yield}}