{{!-- This is the UserList component --}}
<img src={{avatarUrl}} alt="avatar" class={{imgClass}} />
<a href="mailto:{{email}}">
  {{!-- Whatever that is passed into the component block will be rendered here!! --}}
  {{yield}}
</a>