<h2>About</h2>
{{#each model as |bookmark|}}
{{#link-to 'bookmarks.edit' bookmark}}Edit Bookmark{{/link-to}}
{{#if bookmark.public}}
{{!-- Component call. Note that we do not need to use double curly around bookmark --}}
{{bookmark-listing bookmark=bookmark}}
{{else}}
<article>Not public bookmark</article>
{{/if}}
{{/each}}